---
import { DateTime } from 'luxon';

const { event } = Astro.props;
---
<p class="my-3">
  <strong>Start time:</strong> <time datetime={event.data.startDateTime}>
    {DateTime.fromJSDate(event.data.startDateTime).toFormat('cccc, d LLLL, yyyy, H:mm')}
  </time>
</p>

{event.data.endDateTime ? (
  <p class="my-3">
    <strong>End time:</strong> <time datetime={event.data.endtDateTime}>
      {DateTime.fromJSDate(event.data.endtDateTime).toFormat('cccc, d LLLL, yyyy, H:mm')}
    </time>
  </p>
) : null}