---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';

const events = await getCollection('events');
---

<Layout title='Events'}>
  <PageTitle>Events</PageTitle>
 
  <ul>
    {events.map(event => (
      <li>
        <a 
          href={`/events/${event.slug}`}
          class="hover:text-red-700"
        >{event.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>
