---
import { getCollection } from 'astro:content';
import { createReader } from '@keystatic/core/reader';
import keystaticConfig from '../../keystatic.config';
import Layout from '../layouts/Layout.astro';

const reader = createReader('', keystaticConfig)
const postsIndex = await reader.singletons.postsIndex.read();

const posts = await getCollection('posts');
---

<Layout title={postsIndex?.title || ''}>
  <h1 class="text-2xl my-6">{postsIndex?.title}</h1>

    
  <ul>
    {posts.map(post => (
      <li>
        <a 
          href={`/posts/${post.slug}`}
          class="hover:text-red-700"
        >{post.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>
