---
import Layout from "../layouts/Layout.astro";
import PageTitle from '../components/PageTitle.astro';
import Button from "../components/Button.astro";
import TextInput from "../components/TextInput.astro";

---
<Layout title="Register">
  <PageTitle>Register</PageTitle>

  <p class="my-6">Already have an account? <a href="/signin">Sign in</a></p>
  
  <form action="/api/auth/register" method="post">
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-5">
      <div class="sm:col-span-3">
        <TextInput
          name="email"
          label="Email"
          type="email"
        />
      </div>

      <div class="sm:col-span-3">
        <TextInput
          name="password"
          label="Password"
          type="password"
        />
      </div>
    </div>

    <Button type="submit" class="my-6">Register</Button>
  </form>
</Layout>