---

const { 
  id,
  classes,
  type = 'button',
} = Astro.props;
---
<button 
  id={id}
  type={type}
  class="px-6 outline-0 leading-10 rounded-md bg-slate-400 hover:bg-slate-300"
><slot /></button>