---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PageTitle from '../../components/PageTitle.astro';
import AllDayDate from '../../components/events/AllDayDate.astro';
import PeriodDate from '../../components/events/PeriodDate.astro';
import Button from '../../components/Button.astro';
import Modal from '../../components/Modal.astro';

const { slug } = Astro.params;
if (!slug) throw new Error('Slug not found');
const event = await getEntry('events', slug);

if (!event) throw new Error('No event found for this slug');
const { Content } = await event.render();

// Generate static pages
export async function getStaticPaths() {
  const events = await getCollection('events');
  return events.map(event => ({ params: { slug: event.slug } }));
}
---
<Layout title={event.data.title}>
  <PageTitle>{event.data.title}</PageTitle>

  {event.data.isAllDay ? (
    <AllDayDate event={event} />
  ) : (
    <PeriodDate event={event} />
  )}

  <Button
    id="bookTickets"
    classes="text-white"
  >Book tickets</Button>

  <div class="prose">
    <Content />
  </div>

  <Modal id="bookingModal">
    <h1 class="text-2xl my-6">Book tickets</h1>
    
    <p class="my-6">You are booking tickets for.... tbc</p>
  </Modal>

  <script>
    document.getElementById('bookTickets').addEventListener('click', () => {
      document.getElementById('bookingModal').classList.remove('hidden');
    });
  
  </script>
</Layout>